//Colors
$color-primary :rgb(109, 7, 109);
$color-primary-light :rgb(129, 28, 129);
$color-primary-dark :rgb(44, 1, 44);
$color-tertiary: #2998ff;
$color-tertiary-light: #5643fa;
$color-grey-dark: #777;
$color-black: #000;
$color-white: #ffffff;
$color-grey-1: #f7f7f7;
//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 3rem;
//Font
$default-font-size: 1.6rem;